$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #2d8cf0;
$color-blue1: #5cadff;
$color-blue2: #2d85e4;
$color-tip-blue: #2db7f2;
$color-tip-green: #19be6b;
$color-tip-yellow: #ff9900;
$color-tip-red: #ed4014;

$color-red: #f4252b;
$color-green: #0fcd44;

$color-line: #E9EBF0;
$color-border: #dcdee2;
$color-border-hover: #a0a2ad;
$color-border-off: #e6e7eb;

$color-back: #f8f8f9;
$color-back-hover: #f2f3f7;

$color-title: #17233d;
$color-desc: #515a6e;
$color-tip: #808695;
$color-off: #c5c8ce;

$style-border: 1px solid $color-border;